PhaseOptDcs/PhaseOptDcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="OpcUrl" type="xsd:string" />
        <xsd:element name="OpcUser" type="xsd:string" />
        <xsd:element name="OpcPassword" type="xsd:string" />
        <xsd:element name="OpcEndpoint" type="xsd:string" />
        <xsd:element name="Streams">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Stream">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Composition">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="Component">
                            <xsd:complexType>
                              <xsd:attribute name="Name" type="xsd:string" use="required" />
                              <xsd:attribute name="Id" type="xsd:decimal" use="required" />
                              <xsd:attribute name="Tag" type="xsd:string" use="required" />
                              <xsd:attribute name="ScaleFactor" type="xsd:double" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Cricondenbar">
                      <xsd:complexType>
                        <xsd:attribute name="TemperatureTag" type="xsd:string" use="required" />
                        <xsd:attribute name="PressureTag" type="xsd:string" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="Name" type="xsd:string" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>